*{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}

.container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.mode3{
    position: absolute;
    top: 0;
    right: 3vw;
    width: 8vw;
}
.mode4{
    position: absolute;
    top: 0px;
    left: 0px;
}
.mode4 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6vw;
    transform: translate(-50%, -50%);
    z-index: 2;
    visibility: hidden;
}

.mode3 ul{
    width: 100%;
}
.mode3 li img{
    width: 100%;
    animation: rotation3 5s infinite ease-in;
}
.background{
    width: 100vw;
    height: 100vh;
}
.position1{
    position: absolute;
    top: 0;
    left: 0;
}
.mode1{
    position: relative;
    opacity: 0.9;
    z-index: 1;
    width: 80vw;
    transform: translate(-40%,0%);
}
.login{
    position: absolute;
    background-color: black;
    transform: scale(0,0);
    opacity: 0;
    border-radius: 20px;
    width: 50%;
    height: 30%;
    top: 35%;
    left: 25%;
    visibility: hidden;
}
.login-user{
    position: absolute;
    display: block;
    width: 100%;
    top: 20%;
    visibility: hidden;
}

.login-user span{
    display: inline-block;
    font-size: 1vw;
    color: red;
}

.login-way{
    position: absolute;
    top: 50%;
    left: 20%;
    visibility: hidden;
}
.login-way li{
    display: inline-block;
}
.login-way li img{
    height: 5vh;
    margin: 2vw;
    background-color: gainsboro;
    border-radius: 4px;
}
input{
    font-size: 24px;
    margin: 3%;
    background-color: white;
    opacity: 0.5;
    border-radius: 8px;
    width: 50%;
}

#push{
    position: absolute;
    width: 10%;
    height: 4%;
    top: 48%;
    left: 45%;
}
#push:hover{
    width: 12%;
    height: 5%;
    top: 48%;
    left: 44%;
    transition: 0.4s;
    opacity: 0.7;
}

.circle1{
    width: 100%;
    rotate: 0deg;
}

.mode2{
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    height: 70vw;
    animation: rotation2 18s infinite linear;
}

.circle2{
    height: 100%;
}

@keyframes move{
    from{
        transform: translate(-40%,0%);
        width: 80vw;
    }
    to{
      transform: translate(0%,-25%);
      width: 100vw;
    }
}

@keyframes rotation2{
    from{
      transform: translate(40%,-50%) rotate(0deg);
    }
    to{
      transform: translate(40%,-50%) rotate(359deg);
    }
}

@keyframes rotation3{
    0%{
        transform: translate(0,0) rotate(0deg);
        opacity: 1;
    }
    50%{
        transform: translate(0,-10%) rotate(100deg);
        opacity: 0.3;
    }
    100%{
        transform: translate(0,0) rotate(1deg);
        opacity: 0.9;
    }
}

